
.signup{
    width: 500px;
    margin: 50px auto;
    height: 500px;
    justify-content: center;
}

h4{
    font-size: 35px;
    display: block;
    text-align: left;
}

.form-group input{
    margin-right: 10px;
    width: 500px;
    border: 0;
    padding: 10px;
    font-weight: 100;
    border-radius: 15px;
    border: 1px solid rgb(129, 126, 126);
    font-family: 'Poppins', sans-serif;
}